// Variables

// Testimonial
$testimonialPurple: #686de0;
$paragraphGrey: #646464;
$websiteGrey: #bbbbbb;
$borderRadius: 30px;
$paddingLeftRight: 30px;
$paddingUpDown: 15px;
$imageSize: 140px;

// Portfolio Grid
$borderRadiusPortfolio: 5px;
$animationSpeed: 300ms;

// Social Media Links
$socialMediaPanelHeight: 50px;
$socialMediaPanelWidth: 250px;
